CompileFlags:
  Remove: [-forward-unknown-to-host-compiler, --generate-code=*, -arch=*, -lineinfo, --expt-relaxed-constexpr, -Xcompiler*, --options-file, -rdc=*]
---
If:
  PathMatch: .*\.cuh?
CompileFlags:
  Add: [--no-cuda-version-check, --cuda-gpu-arch=sm_89]
